<% include ../partials/header %>

<div class="container">
    <div class="row">
        <h1 style="text-align: center">Edit your potatos</h1>
        <div style="width: 30%; margin: 30px auto;">
            <form action="/potatos/<%= potato.id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name = "potato[name]" value="<%= potato.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name = "potato[image]" value="<%= potato.image%>">
                </div>
                <div class="form-group">
                        <input class="form-control" type="text" name = "potato[description]" value="<%= potato.description %>">
                    </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Update!</button>
                </div>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>
