<% include ../partials/header %>

<div class="container">
    <!-- header here work same as div -->
    <header class ="jumbotron">
        <div class ="container">
            <h1>Welcome to SideProjects</h1>
            <p>View our hand-picked potatos from all over the world!</p>
            <p>
                <a class = "btn btn-primary btn-large" href="/potatos/new">Add New potato</a>
            </p>
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% potatos.forEach(function(potato){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src = "<%= potato.image %>">
                    <div>
                        <h4><%= potato.name %></h4>
                    </div>
                    <p>
                        <a href="/potatos/<%= potato._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>        
</div>


<% include ../partials/footer %>