<% include partials/header %>

<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center mb-5">Join us now</h2>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card border-secondary">
                        <div class="card-header">
                            <h3 class="mb-0 my-2">Sign Up</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" action="/register" method="POST">
                                <div class="form-group">
                                    <label for="inputEmail">Email</label>
                                    <input class="form-control" type="text" name="email" id="inputEmail" placeholder="julei@where.com">
                                </div>
                                <div class="form-group">
                                    <label for="forUnerName">Username</label>
                                    <input class="form-control" type="text" name="username" id="forUnerName" placeholder="Kelly Smith">
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3">Password</label>
                                    <input class="form-control" type="password" name="password" id="inputPassword3" placeholder="password" title="At least 6 characters with letters and numbers" required="">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-lg float-right">Register</button>
                                </div>
                                <div class="form-group">
                                    <a href="/projects">Go Back</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/footer %>


