.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

#comment-delete-form{
    display: inline;
}


body {
    /* padding: 50px; */
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
#forgot{
    color: grey;
}

/* .project_description{ */
    /* text-decoration: underline; */
    /* text-decoration: line-through; */
    /* text-transform: uppercase;
    text-transform: lowercase; */
    /* line-height: 20px;
    font-style: italic;
    font-weight: bold; */
    /* font-size: 80%; */
    /* use google font can slow the page loading but this way differnt computer might see differet font */
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    /* text-align: center; */
/* } */
/* 
footer{
    border-top: 1px solid black;
    text-align: center;
} */
