<% include ../partials/header %>

<div class="container">
    <header class ="jumbotron">
        <div class ="container">
            <h1>Welcome to Side Project</h1>
            <p>View our top voting projects from 42!</p>
            <p>
                <a class = "btn btn-primary btn-large" href="/projects/new">Add New project</a>
            </p>
            <!-- <p>
                <form action="/projects" method="GET" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="search" placeholder="Project search..." class="form-control">
                        <input type="submit" value="Search" class="btn btn-default">
                    </div>
                </form>
            </p> -->
        </div>
    </header>

    <div class="row text-center" style="display:flex; flex-wrap:wrap;">
        <% projects.sort(function (a, b){  %>
        <%   return b.upvote.length - a.upvote.length; %>
        <% })%>
        <% projects.forEach(function(project){ %>
            <div class="col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img src = "<%= project.image %>">
                    <div>
                        <h4><%= project.name %></h4>
                        <p>votes: <%= project.upvote.length%></p>
                    </div>
                    <p>
                        <a href="/projects/<%= project._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>        
</div>


<% include ../partials/footer %>